<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ @html_title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Bootstrap -->
    <link href="{{ @BASE }}/assets/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ @BASE }}/assets/css/basic.css" rel="stylesheet" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body class="hero-img hero-default"><!-- twitter style notification bar for validation errors -->
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <p class="text-center"><img src="{{ @BASE }}/assets/img/logo.png" alt="Barracuda Networks"></p>
        </div>
    </div>
</div>
<div class="container">
      <include href="{{ @content }}" />
</div>

<script src="{{ @BASE }}/assets/js/jquery.min.js"></script>
<script src="{{ @BASE }}/assets/js/bootstrap.min.js"></script>
<script src="{{ @BASE }}/assets/js/basic.js"></script>
</body>
</html>
